* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: orange;
}

.game-container {
    width: 750px;
    height: 750px;
    border: 2px solid green;
}

.front-face, .back-face{
    border: 2px solid yellow;
}